body {
  background-color: #7C9299;
  color: #FC440F;
  /* font-family: 'Source Sans Pro', sans-serif; */
}

li {
  font-size: 1.5em;
}

.jumbotron {
  font-family: 'Bitter', serif;
}

#answer {
  display: none;
}
